@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Vazirmatn:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Lateef:wght@200;300;400;500;600;700;800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Vazirmatn:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --prim-color: #299e60;
  --prim-light: #e6f9ef;
  --white-color: #fff;
  --black-color: #000;
  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}
* {
  scroll-behavior: smooth;
}
.vazirmatn {
  font-family: "Vazirmatn", sans-serif;
}
.rubik {
  font-family: "Rubik", sans-serif;
}
.alexandria {
  font-family: "Alexandria", sans-serif;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-link a {
  font-weight: 600;
  transition: 0.3s;
}
.menu-link a:hover {
  color: #299e60;
}
.fixed-nav {
  animation: Anim-fixed var(--transition-slow) forwards linear;
  box-shadow: 0 2px 10px rgba(131, 131, 131, 0.6);
}
.fixed-nav .nav-button {
  padding: 25px 20px !important;
}
@keyframes Anim-fixed {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*Hero*/
.Hero {
  background-color: #d3ebd3;
  background-image: url(../../public/hero-bg.png);
  width: 100%;
  height: 80vh;
  border-radius: 20px;
}
.hero-wrap h1 {
  opacity: 0;
  animation: Anim-top var(--transition-slow) 1s forwards linear;
}
.hero-wrap p {
  opacity: 0;
  animation: Anim-top var(--transition-slow) 0.8s forwards linear;
}
.hero-wrap h1 {
  opacity: 0;
  animation: Anim-top var(--transition-slow) 0.6s forwards linear;
}
.hero-wrap h1 {
  opacity: 0;
  animation: Anim-scale var(--transition-slow) 1.5s forwards linear;
}

/*animations */

@keyframes Anim-top {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Anim-scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*categories*/

.category-wrap:hover img {
  transform: scale(1.1);
}
.category-image {
  width: 140px;
  height: 140px;
  background-color: var(--prim-light);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*deals*/

.deals-wrap {
  background-image: url(../../public/Deals-bg1.png);
  background-position: center center;
  background-size: cover;
}
.deals-wrap2 {
  background-image: url(../../public/Deals-bg2.png);
}

/*products*/
.product-wrap img {
  transition: var(--transition-regular);
}
.product-wrap:hover img {
  transform: scale(1.1);
}

/*offer banners*/

.offer-wrap {
  background-color: var(--prim-color);
  position: relative;
  z-index: 5;
}
.offer-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/offer-shape.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  opacity: 0.1;
}
.off-product {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* hot deals */

.hot-deal-banner {
  background-color: var(--prim-color);
  position: relative;
  z-index: 10;
}
.hot-deal-banner:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/offer-shape.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  opacity: 0.1;
  pointer-events: none;
}

/* best sale banner */

.best-sale-banner{
  background-image:url(../../public/bestSales/special-snacks.png) ;
}

/* banner */

.banner{
  background-color: var(--prim-color);
  background-image: url(../../public/delivery-bg.png);
  background-position: center center;
  background-size: cover;
}

/* short products */

.short-product-title h2{
  position: relative;
}
.short-product-title h2::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  width: 100%;
  height: 3px;
  background-color: var(--white-color);
  z-index: 1;
}
.short-product-title h2::before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  width: 40%;
  height: 3px;
  background-color: var(--white-color);
  z-index: 1;
}
.short-product-info h2{
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.short-product:hover img{
  border-color: var(--prim-color);
  transition: var(--transition-regular);
}

/* newsletter */

.newsletter-wrap{
  background-color: #121535;
  position: relative;
  z-index: 10;
}
.newsletter-wrap:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/newsletter-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.1;
}

/* footer */
.footer{
  background-image: url(../../public/footer-bg.png);
  background-position: center center;
  background-size: cover;
}

@media (max-width: 991px) {
  .Hero {
    height: 100%;
  }
  .hero-image {
    width: 80%;
  }
  .hero-wrap h1 {
    font-size: 2.5rem;
  }
  .category-info {
    font-size: 1rem;
  }
  .banner-img1{
    width: 30%;
  }
  .banner-img2{
    width: 40%;
    top: 60%;
  }
}
@media (max-width: 575px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
  .Hero {
    padding: 5%;
  }
  .hero-wrap h1 {
    font-size: 2rem;
  }
  .hero-image {
    width: 100%;
  }
  .hero-wrap p {
    width: 100%;
  }
  .banner-cotent h2 {
    font-size: 2.8rem;
  }
  .banner-img1,
  .banner-img2{
    display: none;
  }
  .banner h1{
    font-size: 1.6rem;
  }
}
